<!DOCTYPE html>
<html lang="zh-cmn-Hans">
  <head>
    <title>Genshin-Helper</title>
    <meta charset="UTF-8" />
    <% for(const cssFile of cssFiles) { %>
    <link rel="stylesheet" href="<%- cssFile %>" />
    <% } %>
  </head>
  <body>
    <div id="root"></div>
    <% for(const jsFile of jsFiles) { %>
    <script src="<%- jsFile %>"></script>
    <% } %>
  </body>
</html>
